header{
    position: sticky;
    top: 30px;
    z-index: 100;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    padding-top:var(--p-sm);
    padding-left: var(--p-xxl);
    padding-right:var(--p-xxl);
}

.main-nav{
    display: flex;
    flex-grow: 1;
    justify-content: space-around;
    border: 1px solid var(--color-greyscl-30);
    max-width: 40%;
    border-radius: var(--r-full);
}
    @media (max-width: 768px) {
    .main-nav {
    max-width: 60%;
    }
}

.main-nav a{
    text-decoration: none;
    color: var(--color-greyscl-100);
}
