body {
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-family: 'Gentium Book Basic', serif;
  color: #1db99a;
  font-size: 3rem;
  font-family: 'Pattaya', sans-serif;
}

main {
  max-width: 900px;
}

header {
  background: url(images/jesus-kiteque-224069.jpg) bottom center / cover;
  height: 70vh;
  position: relative;
  border-bottom: 3px solid white;
  box-sizing: border-box;
  width: 100%;
}

footer.mdl-mini-footer {
  bottom: 0;
  padding: .5rem;
  position: fixed;
  width: 100%;
  z-index: 1;
  background-color: #494E6B;
}

footer.mdl-mini-footer > ul {
  margin: auto;
  font-size: 2rem;
}
video{
  width:100%;
}
button.close{
  background: none;
    border: none;
    color: #1db99a;
    font-size: 3rem;
}
.bar{
  border: 1px solid #c1c1c1;
  background-color: #f1f1f1;
  padding: 3px 10px;
  margin-bottom: 10px;
}

.carousel-caption{
  position: initial!important;
  color: #444!important;
  margin-bottom: 30px;
}

.carousel-indicators .active {
    opacity: 1!important;
}
.carousel-indicators [data-bs-target] {
    box-sizing: content-box;
    flex: 0 1 auto;
    width: 30px;
    height: 5px!important;
    padding: 0;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #1db99a!important;
    background-clip: padding-box;
    border: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    opacity: .25;
    transition: opacity .6s ease;
}
.modal-header{
  height: 4rem;
}
.modal-title{
  /*font-weight: bold;*/
}
.modal-footer>* {
    margin: .25rem;
}
.btn-primary {
    background-color: #1db99a!important;
    border-color: #1db99a!important;
}
.card:hover{
  transform: scale(1.025);
}
.porfolio-nav{
margin-top:
}
.nav-link.active,
.nav-item.show .nav-link {
  color: #fff!important;
  background-color: #1db99a!important;
  border-color: ;
}
.progress-bar{
  background-color: #67c4ac;
}
.header-content{
  background: rgba(73,78,101,.7);
  margin:auto;
  padding: 0;
  width: 100%;
  height: 69vh;
  text-align: center;
  position: relative;
  box-sizing: border-box;
}
.overlay{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 60%;
  margin: auto;
  z-index: 100;
  text-shadow: 2px 2px 2px #494E6B;
  font-size: 2rem;
  line-height: 2.5rem;
  box-sizing: border-box;
}
.back-text{
  position: absolute;
  top: 43%;
  left: 50%;
  transform: translate(-50%,-50%);
  margin: auto;
  z-index: 0;
  color: hsla(0, 0%, 100%, .1);
  font-size: 15em;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}

.project-description {
  padding-left: 0;
}

.project img {
  width: 100%;
}

.nav-tabs {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}
.tab-content{
  padding-top: 20px;
}
.progress{
  margin:1em 0px;
  height: 1.5rem;
}
.modal-footer{
  justify-content: space-between;
}
/* ---- grid ---- */

.grid {
  background: #EEE;
  /* center */
  margin: 0 auto;
}

/* clearfix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- grid-item ---- */

.grid-item {
  max-width:300px;
  width: 100%;
  height: 120px;
  float: center;
  background: #D26;
  border: 2px solid #333;
  border-color: hsla(0, 0%, 0%, 0.5);
  border-radius: 5px;
}
.card-columns{column-count: 3;}
.card-columns .card{
  display: inline-block;
  margin-bottom: 1rem;
  column-break-inside: avoid;
}
.card-columns {
  @include media-breakpoint-only(lg) {
    column-count: 1;
  }
}
