body {
  font-family: "Raleway",serif;
  padding-bottom: 5rem;
}

main {
  max-width: 900px;
}

header {
  background: url(images/anastasia-taioglou-214774.jpg) center / cover;
  background: rgba (5, 0, 0, 0.7);
  height: 60vh;
  justify-content: center;
  text-align: center;
}

h1 {
  color: hsla(0, 0%, 100%, 1);
  text-shadow: 2px 2px 5px #184453;
  font-size: 8rem;

}

.cursive {
  font-family: 'Mr Dafoe';
}

.hero-content {
  margin: auto;
}

.slogan {
  background: hsla(194, 100%, 25%, .7);
  font-weight: lighter;
  font-size: 1rem;
  text-transform: uppercase;
  padding: 5px 0;
  color: #ffffff;
  letter-spacing: .5rem;
}

.project-description {
  padding-left: 0;
}

.project img {
  width: 100%;
}

footer.mdl-mini-footer {
  bottom: 0;
  padding: .5rem;
  position: fixed;
  width: 100%;
  z-index: 1;

}

footer.mdl-mini-footer > ul {
  margin: auto;
  font-size: 2rem;
}

@@media screen and (max-width: 1024px) {
  header.mdl-layout__header {
    display: flex;
  }
}
